
@model List<AlwaysCoffeeTime.BL.Producto>

@{
    ViewBag.Title = "Index";
}

<h2>Productos</h2>

@foreach (var producto in Model)
{
    <p>@producto.Codigo @producto.Descripcion @producto.Precio @producto.Categoria @producto.Existencia @producto.Activo</p>
}


